# Ambiente virtuale
.venv/
venv/

# File compilati
__pycache__/
*.py[cod]

# File Jupyter
.ipynb_checkpoints/

# Config temporanee
.env
*.log

# VS Code
.vscode/

# Shell script
*.sh
!GitSyncFork.sh

# png and txt
*.png
*.jpeg
*.jpg
*.txt